body {
    background-image: url("file:///Users/evabarrett/coding/Unit1/week-two/Monch-Monch-Monch-/images/brick-gray.jpg");
    background-repeat: repeat-y repeat-x;
    /* margin-top: 25em; */
}

h1 {
  font-size: 200px;
  text-align: center;
  /* color: white; */
  text-shadow: 20px 20px 44px #000000;
  font-family: 'Spicy Rice', cursive;
  color: #d7e4d9;
  user-select: none;
  color: #0c59a8;
  z-index: 50;
  /*need to place title infront  */
  margin-top: 1em;
}


.cookie1, .cookie2, .cookie3, .cookie4, .cookie5, .cookie6, .cookie7, .cookie8, .cookie9, .cookie10,
.cookie11, .cookie12, .cookie13, .cookie14, .cookie15, .cookie16, .cookie17, .cookie18, .cookie19, .cookie20 {
  position: absolute;
  border: black solid;
  box-shadow: 10px 10px 4px rgba(0,0,0,.8);
  top: 100vh;
  left: 0px;
  /* bottom: -15vh; */
  /* animation: fall 15s infinite linear; */
  z-index: 20;
}

.cookie1 {
  position: absolute;
  padding: none;
  /* top: 15vh; */
  left: 2vw;
  height: 80px;
  width: 80px;
  background: red;
  animation-delay: 4.2s;
  border-radius: 50%;
}

.cookie2 {
  left: 4vw;
  height: 80px;
  width: 80px;
  background: orange;
  animation-delay: 7.5s;
  border-radius: 50%;
}

.cookie3 {
  left: 6vw;
  height: 80px;
  width: 80px;
  background: yellow;
  animation-delay: 8.3s;
  border-radius: 50%;

}

.cookie4 {
  left: 8vw;
  height: 80px;
  width: 80px;
  background: green;
  animation-delay: 1.7s;
  border-radius: 50%;
}

.cookie5 {
  left: 10vw;
  height: 80px;
  width: 80px;
  background: blue;
  animation-delay: 3.2s;
  border-radius: 50%;
}

.cookie6 {
  left: 12vw;
  height: 80px;
  width: 80px;
  background: purple;
  animation-delay: 2.9s;
  border-radius: 50%;
}

.cookie7 {
  left: 14vw;
  height: 80px;
  width: 80px;
  background: white;
  animation-delay: 5.1s;
  border-radius: 50%;
}
.cookie8 {
  left: 16vw;
  height: 80px;
  width: 80px;
  background: black;
  animation-delay: 4.2s;
  border-radius: 50%;
}
.cookie9 {
  left: 18vw;
  height: 80px;
  width: 80px;
  background: limegreen;
  animation-delay: 3.5s;
  border-radius: 50%;
}

.cookie10 {
  left: 20vw;
  height: 80px;
  width: 80px;
  background: rebeccapurple;
  animation-delay: 9.5s;
  border-radius: 50%;
}

.cookie11 {
  left: 22vw;
  height: 60px;
  width: 60px;
  background: #71d1d4;
  animation-delay: 4.5s;
  border-radius: 50%;
}
.cookie12 {
  left: 26vw;
  height: 80px;
  width: 80px;
  background: #c1bf0d;
  animation-delay: 6.5s;
  border-radius: 50%;
}
.cookie13 {
  left: 28vw;
  height: 80px;
  width: 80px;
  background: #50dedf;
  animation-delay: 2.5s;
  border-radius: 50%;
}
.cookie14 {
  left: 30vw;
  height: 80px;
  width: 80px;
  background: #1f9de8;
  animation-delay: 5.5s;
  border-radius: 50%;
}
.cookie15 {
  left: 32vw;
  height: 90px;
  width: 90px;
  background: #b863c6;
  animation-delay: 8.5s;
  border-radius: 50%;
}
.cookie16 {
  left: 34vw;
  height: 90px;
  width: 90px;
  background: #143b5b;
  animation-delay: 6.5s;
  border-radius: 50%;
}
.cookie17 {
  left: 36vw;
  height: 80px;
  width: 80px;
  background: #e2408a;
  animation-delay: 9.5s;
  border-radius: 50%;
}
.cookie18 {
  left: 38vw;
  height: 80px;
  width: 80px;
  background: #e88555;
  animation-delay: 4.5s;
  border-radius: 50%;
}
.cookie19 {
  left: 40vw;
  height: 70px;
  width: 70px;
  background: #ffa4e7;
  animation-delay: 3.5s;
  border-radius: 50%;
}
.cookie20 {
  left: 42vw;
  height: 60px;
  width: 60px;
  background: #aec8cc;
  animation-delay: 7.5s;
  border-radius: 50%;
}

.pepper1, .pepper2, .pepper3, .pepper4, .pepper5, .pepper6, .pepper7 {
  position: absolute;
  border: black solid;
  box-shadow: 10px 10px 4px rgba(0,0,0,.8);
  top: 100vh;
  left: 0px;
  /* bottom: -15vh; */
  /* animation: fall 15s infinite linear; */
  z-index: 20;
}

.pepper1 {
  left: 35vw;
  height: 67px;
  width: 67px;
  background: #996439;
  animation-delay: 8.5s;
  border-radius: 50%;
}

.pepper2 {
  left: 42vw;
  height: 65px;
  width: 65px;
  background: #996439;
  animation-delay: 3.5s;
  border-radius: 50%;
}

.pepper3 {
  left: 47vw;
  height: 55px;
  width: 55px;
  background: #996439;
  animation-delay: 2.5s;
  border-radius: 50%;
}

.pepper4 {
  left: 16vw;
  height: 65px;
  width: 65px;
  background: #996439;
  animation-delay: 3.5s;
  border-radius: 50%;
}

.pepper5 {
  left: 25vw;
  height: 75px;
  width: 75px;
  background: #996439;
  animation-delay: 1.5s;
  border-radius: 50%;
}

.pepper6 {
  left: 36vw;
  height: 45px;
  width: 45px;
  background: #996439;
  animation-delay: 4.5s;
  border-radius: 50%;
}

.pepper7 {
  left: 46vw;
  height: 65px;
  width: 65px;
  background: #996439;
  animation-delay: 2.5s;
  border-radius: 50%;
}

.directions {
  position: relative;
  background: #0b4a3c;
  font-size: 25px;
  color: white;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 40%;
  padding-left: 2em;
  padding-right: 2em;
  /* padding-top: .5em; */
  padding-bottom: 1em;
  font-family: 'Rokkitt', serif;
  word-spacing: 2px;
  line-height: 2;
  box-shadow: 10px 10px 4px rgba(0,0,0,.8);
  z-index: 155;

}
.start-button {
  position: absolute;
  top: 29em;
  left: 800px;
  font-size: 3em;
  /* visibility: hidden;    add to my js*/
}

.play-again {
  position: absolute;
  top: 42em;
  left: 1350px;
  font-size: 3em;
  z-index: 10
}

.timer {
  position: relative;
  width: 6.5em;
  height: 3.5em;
  padding: .2em;
  text-align: center;
  color: white;
  font-size: 50px;
  background: #244571;
  border: solid black;
  border-radius: 65px;
  top: 11em;
  word-wrap: break-word;
  box-shadow: 10px 10px 4px rgba(0,0,0,.8);
}

.score-text {
  position: absolute;
  color: white;
  /* font-size: 50px; */
  top: -.02em;
}


.score-board {
  /* width: 25em;
  height: 1.3em; */
  /* 7d6439 bbb25e*/
  background: #7d6439;
  opacity: 0.8;
  border-radius: 75px;
  position: relative;
  border: solid black;
  left: 1200px;
  word-wrap: break-word;
  box-shadow: 10px 10px 4px rgba(0,0,0,.8);

  color: white;
  font-size: 50px;
}

/* .timer-thirty {
  background: #ebd46e;
  height: 70px;
  width: 250px;
  color: white;
  border: solid black;
  font-size: 28px;
  position: relative;
} */

.blue-monster {
  user-select: none;
  background: none;
  height: 150px;
  width: 150px;
  position: relative;
  /* right: -50px; */
}

.cookie-monster {
  user-select: none;
  background: none;
  height: 380px;
  width: 380px;
}

.oscar {
  user-select: none;
  background: none;
  width: 300px;
  left: 800px;
  position: relative;
}


@keyframes fall {
  0 {
    transform: translateY(0);
  }
  100% {
    transform: translateY(200vh);
  }
}
